@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.App{
  background-image: url("/bg.jpg");
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.bg-container {
  position: relative;  /* Keep the relative position for content layers */
  overflow: auto;  /* Allow the content to scroll */
  height: 100vh;  /* Keep the height to cover the viewport */
  background-image: url("/bg.jpg");  /* Set the background image */
  background-attachment: fixed;  /* Fix the background image */
  background-size: cover;  /* Cover the whole area */
  background-position: center; 
}

.bg-nav-container {
  position: relative;  /* Keep the relative position for content layers */
  overflow: initial;  /* Allow the content to scroll */
  height: 7vh;  /* Keep the height to cover the viewport */
  background-attachment: fixed;  /* Fix the background image */
  background-size: contain;  /* Adjusted to 'contain' to zoom out the image */
  background-position: center; 
}

.neon {
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  color: #0a0c0c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #ffffff, 2px 0px 4px #ffffff, 3px 0px 4px #ffffff, 
               2px 0px 3px hsl(260, 18%, 3%), 2px 3px 15px #070707, 
               2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #d9dadb, 
               40px 0vw 200px #020101;
  padding: 20px;
  /* Border added here */
  border: 5px solid #020101; /* You can change the border color and width */
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

.neon_log {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #0a0c0c;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #ffffff, 2px 0px 4px #ffffff, 3px 0px 4px #ffffff,
  2px 0px 3px hsl(260, 18%, 3%), 2px 3px 15px #070707,
  2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #d9dadb,
  40px 0vw 200px #020101;
  padding: 20px;
  /* Border added here */
  border: 5px solid #020101; /* You can change the border color and width */
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

@media (min-width: 640px) { 
 
}
@media (min-width: 768px) {  }
@media (min-width: 1024px) { }
.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}


@keyframes flicker{
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100%{
    opacity:0.99;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}

}
/* Navbar styles */
.navbar {
  background-color: black;
  padding: 10px;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  padding: 0 15px;
  text-decoration: none;
  font-family: 'Monoton', sans-serif;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: yellow;
}

/* For small screens, hamburger menu should appear */
@media (max-width: 640px) {
  .nav-links {
    display: none; /* Hide the regular nav-links */
  }

  .hamburger {
    display: block; /* Show the hamburger icon */
  }

  .cross {
    display: none; /* Hide the cross icon initially */
  }
}

/* When the menu is opened */
.menu-open .hamburger {
  display: none; /* Hide the hamburger icon when menu is open */
}

.menu-open .cross {
  display: block; /* Show the cross icon when menu is open */
}

.menu-open .nav-links {
  display: flex; /* Show nav-links in flex-col */
  flex-direction: column;
  background: yellow;
  color: black;
  padding: 10px;
}
.image-panel{
  margin-bottom:20px;
  margin-left: 90px;
}
.loginImg, .signupImg{
  border-radius: 1200px;
  width: 400px;
  margin-left:-45px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to the full viewport height */
}

.login, .signup {
  width: 60vh; /* Set the width of the forms */
  padding: 20px; /* Add padding for better spacing */
  /*background-image: url("../../public/form-bg.jpg");*/
  margin: auto; /* Center the forms horizontally */
  border-radius: 20px; /* Add border radius for rounded corners */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  background-size: cover;
  background: linear-gradient(to bottom right, #14bdee, #e4ebef);
}

.search-bar-container {
  margin-top: 10rem;
}

.search-input {
  border: 1px solid #151212;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  width: 50%;
  margin-left: 20%;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
}

.search-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-right: 560px;
  transform: translateY(-50%);
  background-color: #14bdee;
  color: #131212;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}



/*.login-form,.signup-form {*/
/*  background-size: cover; !* Ensure the background image covers the entire container *!*/
/*  background-position: center; !* Center the background image *!*/
/*  background-repeat: no-repeat; !* Prevent the background image from repeating *!*/
/*  padding-top: 30px;*/
/*  border-radius: 40px;*/
/*  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);*/
/*}*/

.select-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: -6%;
}

/* Style the select element */
.select-wrapper select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  appearance: none; /* Remove default dropdown arrow */
}

/* Style the select arrow */
.select-wrapper::after {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 38%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}


.input-group {
  margin-bottom: 20px;
  color: #070707;
}
.input-label {
  margin-bottom: 20px;
  color: #070707;
  height: 42px;
  width: 600px;
}
button {
  background-color: #ffffff;
  border: 2px solid #0a0c0c;
  color: #070707;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.btn{
  margin-left: 110px;
  margin-right: 110px;
}

.error {
  color: red; /* Set text color to red */
  font-size: 16px; /* Set font size */
  margin-top: 5px; /* Add some space at the top */
  background-color: #ffe6e6; /* Add background color */
  padding: 10px; /* Add padding for better readability */
  border-radius: 5px; /* Add border radius for rounded corners */
  border: 1px solid #ffcccc; /* Add border */
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.3); /* Add box shadow for emphasis */
}


.btn-form{
  background-color: #47f54e; /* Green background */
  border: 2px solid #0a0c0c;
  color: black; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Pointer cursor */
  border-radius: 12px; /* Rounded corners */
  width: 400px;
  margin-left: 80px;
}

.btn-sign{
  margin-left: 100px;
  margin-right: 100px;
}



.neon-container{
padding-top: 30px;
}

.neon_log {
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.neon_log::before {
  content: attr(data-text);
  position: absolute;
  top: 10%;
  left: 10%;
  color: #39a0d0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  animation: neon-animation 2s infinite alternate;
}

@keyframes neon-animation {
  from {
    text-shadow: 0 0 2px #04b4ff, 0 0 10px #04b4ff, 0 0 15px #04b4ff, 0 0 20px #04b4ff, 0 0 25px #04b4ff, 0 0 30px #04b4ff, 0 0 35px #04b4ff;
  }
  to {
    text-shadow: 0 0 2px #04b4ff, 0 0 10px #04b4ff, 0 0 15px #04b4ff, 0 0 20px #04b4ff, 0 0 25px #04b4ff, 0 0 30px #04b4ff, 0 0 35px #04b4ff, 0 0 40px #04b4ff;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}